.container {
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(190, 190, 190, .75);
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    text-align: center;
}
.g-signin2{
    margin-left: 35%;
}
.g-signin2, .fb, .b2{
     padding: 5px;
}

body {
    background-image: url("bg.jpg");
	/*width: 600px;*/
	/*margin: 0 auto;*/
	/*border: 5px solid tomato;*/
}
/*.users{*/
/*	float : right;*/
/*	margin-right: 1.5em;*/
/*}*/
/*.messages {*/
/*	width: 400px;*/
/*	margin: 1em;*/
/*	border : 1px solid black;*/
/*	padding: 1em;*/
/*}*/
/*.message_form,*/
/*.change_name_form{*/
/*	padding: 1em;*/
/*}*/